# Vite & React
node_modules/
dist/
*.log

# WebStorm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# Environment variables
.env
.env.local
.env.*.local
