# Node.js
node_modules/
dist/

# WebStorm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# Environment variables
#.env
#.env.local
#.env.*.local

# Logs
src/logs/**

#Upload Folder
uploads/